<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Ionic QR App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">

  <ion-segment [(ngModel)]="segment" mode="ios">
    <ion-segment-button value="scan">
      <ion-label>Scan QR</ion-label>
    </ion-segment-button>
    <ion-segment-button value="generate">
      <ion-label>Generate QR</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- SCAN QR -->
  <div class="segment" *ngIf="segment === 'scan'">
    <div class="segment-content">
      <img *ngIf="!qrText" src="assets/images/scan-qr.webp" alt="">
      <h6 class="scan-label">Scan or select an image of an QR code to get its value</h6>
      <ion-row>
        <ion-col size="6">
          <ion-button (click)="startModal()" class="submit" expand="block">Scan<ion-icon slot="end"
              name="scan-outline"></ion-icon></ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button (click)="readBarcodeFromImage()" class="submit" expand="block">Select<ion-icon slot="end"
              name="image-outline"></ion-icon></ion-button>
        </ion-col>
      </ion-row>

      <ion-item class="result" *ngIf="scanResult" lines="none">
        <ion-label>
          <p>Scan result</p>
          <div>{{scanResult}}</div>
        </ion-label>
        <ion-buttons slot="end">

          <ion-button *ngIf="isUrl()" (click)="openCapacitorSite()" color="tertiary">
            <ion-icon slot="icon-only" name="globe-outline"></ion-icon>
          </ion-button>


          <ion-button (click)="writeToClipboard()" color="tertiary">
            <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

    </div>
  </div>

  <!-- GENERATE QR -->
  <div class="segment" *ngIf="segment === 'generate'">
    <div class="segment-content">
      <div id="qrImage">
        <div class="d-flex-center">
          <div class="d-flex-center qr-wrapper">
            <qr-code *ngIf="qrText" [value]="qrText" size="190" errorCorrectionLevel="M" />
            <img *ngIf="!qrText" src="assets/images/qr.webp" class="qr-placeholder" alt="">
          </div>
        </div>
        <div class="ion-padding-top"> {{qrText}} </div>
      </div>
      <ion-textarea label="Write something to convert to QR code" labelPlacement="stacked" fill="outline"
        [(ngModel)]="qrText" rows="4" [autoGrow]="true"></ion-textarea>
    </div>
    <!-- SHARE QR -->
    <ion-button *ngIf="qrText" expand="block" color="tertiary" class="submit ion-margin-top" (click)="captureScreen()">
      Share
      <ion-icon slot="end" name="share-social-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>